<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".txt" />
      <mimeMap fileExtension=".txt" mimeType="text/html; charset=utf-8" />
    </staticContent>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="live.txt" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
